@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';

html,
body,
#root {
	height: 100%;
}

#root {
	display: flex;
	flex-direction: column;
}

.navbar-header {
	display: inline-block;
}

.logo {
	background-color: darkgoldenrod;
	font-size: 20px;
	padding: 20px 50px;
}

.cb-logo-link {
	text-decoration: none;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active {
	color: #fff;
}

.navbar-nav > li {
	float: left;
}

.navbar-nav {
	float: right;
}

.main-content {
	flex-grow: 1;
}

.timetable-container {
	margin-top: 20px;
}

.timetable td:first-child {
	width: 40px;
}

.table-condensed>tbody>tr>td {
	vertical-align: middle;
}

.timetable td {
	vertical-align: middle!important;
	line-height: 1!important;
	padding: 0 5px!important;
}

.timetable .time {
	text-align: center;
	width: 150px;
}

/*.free {*/
	/*background-color: #5cb85c;*/
/*}*/

.busy:nth-of-type(odd) {
	background-color: #d9534f!important;
}

.busy {
	background-color: #bc4441!important;
}

.busy td {
	color: white;
}

.timetable .checkbox input[type=checkbox] {
	margin-left: -10px;
	margin-top: 5px;
}

@media screen and (max-width: 768px) {
	.logo {
		font-size: 14px;
		padding: 20px 10px;
	}
}

/*---- spinner  ----*/
@keyframes spin {
	0% {
		transform: rotate(0deg); }
	100% {
		transform: rotate(360deg); }
}

.loading {
	font-size: 2.2em;
	font-weight: 500;
	margin: 0;
	padding: 8em 0;
	text-align: center;
}

.loading > span > .glyphicon {
	animation: spin 1s linear infinite;
}